html { 
  background: url(starfield-aurigae.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
	font-family: helvetica;
	text-align: center;

		background-size: cover;
		color: white;
	height: 350px;
}
a {
	color: white;
}
h1 {
	font-size: 70px;
	font-family: 'Iceland', cursive;
	color: white;
	border-radius: 50px;
	margin: 0 auto;
}
h2 {
	text-align: center;
	color: #FFFFFF;
}
h3 {
	text-align: left;
	color: #000000;
	margin-bottom: 0;
}
table, th, td {
	border: 1px dotted #A36060;
	background-color: #4C1A1A;

}
img {
	margin: 40px 0px 0px 0px;
}
ul {
	padding: 10px;
	background: rgba(0, 0, 0, 0.7);
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
	font-weight: bold;
	font-size: 2em;
}
p {
	font-size: 22px;
	text-align: left;
}
body {
	text-align: center;
	color: white;
	font-family: helvetica;
}
article {
	max-width: 550px;
	padding: 20px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.3);
	font-size: 1.2em;
}
small {
	text-align: center;
	font-size: 18px;
}
.spacer {
	height: 80px;
	background-color: #A34747;
}
.header-spacer {
	height: 275px;
}
.second-spacer {
	height: 100px;
}
ul.links {

}
input[type="button"] {
     border: 5px;
     border-radius: 10px;
     padding: 10px;
     background-color: white;
     font-weight: bold;
     font-size: 18px;
     color: #4C1A1A;
     text-align: center;
     width: 120px;
	}
.hideable {
    display: none;
}
@media (max-width: 550px) {
	h1 {
		font-size: 36px;
	}
	li {
		display: block;
		padding: 5px;
	}
	img {
		padding: 0px;
		margin: 0 auto;
	}
}
